*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
#main-content {
    height: 100%;
    width: 100%;
    background-image: url("https://images4.alphacoders.com/606/606024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.btn {
    width: 70%;
}

#home{
    cursor: pointer;
}

.card {
    width: 30%;
    margin: 0 auto;
}

.char-image {
    width: 100%;
}

.char-item {
    width: 20vw;
}
